/* Pre-sets */
* {
        margin: 0;
        padding: 0;
        font-family: "Work Sans", sans-serif;
        box-sizing: content-box;
}

a{
    text-decoration: none;
}
/* Body */
.body {
    /* display: grid;
    grid-template-areas: "header" "main"; */
    background-image: url(../sources/logo/StartUpHome.png);
    background-repeat: no-repeat;
    background-color: #04109b;
  } 

/* Header */
.header{
    grid-area: header;
    display: flex;
    flex-flow: row-reverse;
    justify-content: start;
    
}
    .headerTitle{
        width: 95%;
        text-align: center;
        margin-right: 25%;
    }
        .headerH1 {
            font-size: 6rem;
            color: #101797;
            font-style: bold;
            text-align: center;
        }
        .headerH2 {
            font-size: 2rem;
            color: #000000;
            font-style: bold;
        }

        .headerLogo{
          color: #000000;       
        }
            .headerImg{
                width: 25%;
            }


/* Main */
.main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    margin: 100px;
    width: 250px;
    border-radius: 25px;
    background: linear-gradient(180deg, #05006c, #101797, #0513d8);
    display: flex;
    flex-flow: column;
    align-items: center;  
}

.section:hover{
   filter: grayscale(15%);
}

.cardPh{
    width: 95%;
}
.sectionH3{
    margin-top: 45%;
    margin-bottom: 15%;
    border-radius: 20px;
    height: fit-content;
    width: 150px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #101797 ;
    font-style: bold;
    font-size: 1.1rem;
    
}

.sectionH3:hover{
    background:  #7377c2 ;
    animation: buttondeg 2.5s infinite ease;
    color: darkblue;
    cursor: pointer;
}

/*Data*/
.titleD{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2D{
    text-align: center;
    color: #101797;
    font-size: 3rem;
    background-color: #fff;
    width: 15vh;

    border-radius: 25px;
    background-position: center;    
}

.spBody{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #05006c, #101797, #171e9e);
    background-repeat: no-repeat;
    
}

.back{
    display: flex;
    justify-content: start;
    margin-left: 2%;
    margin-top: 2%;
}

/*keyframes*/
.dataTable{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#101797;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column ;
    width: 25%;
  
}

.tP{
    background-color:#05006c ;
    color: #fff;
    border-radius: 25px;
    text-align: center; 
    margin: 4%;
    padding: 4%;
}




@keyframes colordeg{
    0%{
        background-position: 0 25%;
    }
    25%{
         background-position: 25% 100%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 50% 0%;
    }
}

@keyframes buttondeg{
    0%{
        background-position: 0 25%;
    }
    50%{
        background-color: white;
    }
    
    100%{
        background-position: 50% 0%;
    }
}

